{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERG Track Account</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="{% static 'sitemap/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %}
    <h2>You have been logged out</h2>
    <div class="borders-top pt-3p">
        <small class="text-muted ml-2">
            <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
    {% endblock content %}

</body>
</html>